python-twitter-v2
tweepy
matplotlib
facebook-sdk
pandas
numpy
authlib
requests
pytrends
plotly
kaleido
google-api-python-client
nltk
networkx
matplotlib
scipy
python-louvain
community
googletrans==3.1.0a0
google-cloud-language